.c-text{
    &__title{
        font-size: 30px;
        color: #000000;
    }

    &__normal{
        font-size:20px;
        color: #000000;
    }

    &__detail{
        position: relative;
        font-size: 20px;
        color: #000000;
        top: 100%;
        max-width: 80%;
    }
}