.p-grid{
    &__todo{
        padding-top:50px;
    

        &-list{
            max-width: 800px;
            margin: 0 auto;
            padding: 0;

        }

        &-item{
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            box-sizing: border-box;
            transition: background 0.5s;

            &:hover{
                background: #f0f0f0;
            }
        }

        &-form{
            width: 100%;
            padding: 50px 0;
            background: #a9a9a9;
            position: fixed;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 0;
            left: 0;
            gap: 20px;
        }

        &-icon{
            display: flex;
            gap:10px;
            align-items: center;
        }

        &-label{
            display: block grid;
            width: 100%;
            min-width:800px;
            margin:0 auto;
            gap: 5px;
        }
    }
}